# Ignore ansible inventory and secrets, and other internals
host_vars
*.vault
*.retry
*.log
*.cfg
*.conf

# Ignore OS/editor/system files
.DS_Store
*.swp
.idea/
.vscode/

# Draw.io files
*.bkp
*.dtmp

# Protected files
IPAM.xlsx
*IPAM.xlsx
