# Configures the switch for use in the lab environment
## Implement everything that we set manually during initial setup; enforces idempotency
- name: Set hostname and domain
  cisco.ios.ios_config:
    lines:
    - hostname switch
    - ip domain-name indef.space

- name: Enable SSH Version 2
  cisco.ios.ios_config:
    lines:
    - ip ssh version 2

- name: Configure virtual terminal for SSH
  cisco.ios.ios_config:
    parents: line vty 0 4
    lines:
    - login local
    - transport input ssh

- name: Create management VLAN
  cisco.ios.ios_config:
    parents: vlan 99
    lines:
    - name Management

- name: Set interface VLAN 99
  cisco.ios.ios_config:
    parents: interface vlan 99
    lines:
    - ip address 10.0.99.10 255.255.255.0
    - no shutdown

- name: Configure Mgmt-Pi Port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/15
    lines:
    - switchport mode access
    - switchport access vlan 99
    - description Mgmt-Pi
    - no shutdown

## Restrict access to the management terminal
- name: Create MGMT_ONLY ACL
  cisco.ios.ios_config:
    parents: ip access-list standard MGMT_ONLY
    lines:
    - permit 10.0.99.0 0.0.0.255
    - deny any

- name: Apply MGMT_ONLY ACL to VLAN99 Interface
  cisco.ios.ios_config:
    parents: line vty 0 4
    lines:
    - access-class MGMT_ONLY in

## Create the VLANs and interfaces
- name: Create core VLAN
  cisco.ios.ios_config:
    parents: vlan 20
    lines:
    - name Core

- name: Create user VLAN
  cisco.ios.ios_config:
    parents: vlan 40
    lines:
    - name User

- name: Create DMZ VLAN
  cisco.ios.ios_config:
    parents: vlan 30
    lines:
    - vlan 30
    - name DMZ

- name: Create External VLAN
  cisco.ios.ios_config:
    parents: vlan 10
    lines:
    - name External

## Configure access and trunk ports
- name: Configure iDRAC ports
  cisco.ios.ios_config:
    parents: interface gigabitEthernet {{ item.port }}
    lines:
    - description Server{{ item.server }} iDRAC
    - switchport mode access
    - switchport access vlan 99
    - no shutdown
  loop:
  - { port: "1/45", server: "1" }
  - { port: "1/47", server: "2" }

- name: Configure Compute NICs
  cisco.ios.ios_config:
    parents: interface gigabitEthernet {{ item.port }}
    lines:
    - description Server{{ item.server }} NIC{{ item.nic }}
    - switchport trunk encapsulation dot1q
    - switchport mode trunk
    - switchport trunk encapsulation dot1q
    - switchport trunk allowed vlan 10,20,30,40
    - no shutdown
  loop:
  - { port: "1/27", server: "1", nic: "4"}
  - { port: "1/29", server: "1", nic: "3"}
  - { port: "1/31", server: "1", nic: "2"}
  - { port: "1/35", server: "2", nic: "4"}
  - { port: "1/37", server: "2", nic: "3"}
  - { port: "1/39", server: "2", nic: "2"}

- name: Configure WAP port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/21
    lines:
    - description WAP
    - switchport mode access
    - switchport access vlan 40
    - no shutdown

- name: Configure Router External Link
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/19
    lines:
    - description External Router
    - switchport mode access
    - switchport access vlan 10
    - no shutdown

- name: Configure Router OOB Mgmt
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/43
    lines:
    - description Router
    - switchport mode access
    - switchport access vlan 99
    - no shutdown

- name: Configure James Tower port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/1
    lines:
    - description James Tower
    - switchport mode access
    - switchport access vlan 40
    - no shutdown

- name: Configure Vix Tower port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/3
    lines:
    - description Vix Tower
    - switchport mode access
    - switchport access vlan 40
    - no shutdown

- name: Configure Vault port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/17
    lines:
    - description Vault Pi
    - switchport mode access
    - switchport access vlan 20
    - no shutdown

- name: Configure backup unprotected port
  cisco.ios.ios_config:
    parents: interface gigabitEthernet 1/7
    lines:
    - description backup unprotected port
    - switchport mode access
    - switchport access vlan 10
    - no shutdown

- name: Disable unused ports
  cisco.ios.ios_config:
    parents: interface gigabitEthernet {{ item }}
    lines:
    - description ** DISABLED **
    - shutdown
  loop:
  - 1/2
  - 1/4
  - 1/5
  - 1/6
  - 1/8
  - 1/9
  - 1/10
  - 1/11
  - 1/12
  - 1/13
  - 1/14
  - 1/16
  - 1/18
  - 1/20
  - 1/22
  - 1/23
  - 1/24
  - 1/25
  - 1/26
  - 1/28
  - 1/30
  - 1/32
  - 1/33
  - 1/34
  - 1/36
  - 1/38
  - 1/40
  - 1/41
  - 1/42
  - 1/44
  - 1/46
  - 1/48

- name: save config
  cisco.ios.ios_config:
    save_when: modified
